<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        var roomId = "<%= roomId %>";
    </script>
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
    <h1 class="h3 mb-3 fw-normal">Chat with me</h1>

    <div id="chat-window">
        <div id="output"></div>
        <div id="typing"></div>
    </div>
    <div class="container">
        <input type="text" name="handle" id="handle" class="form-control" placeholder="your name">
    
        <input type="text" name="message" id="message" class="form-control" placeholder="your message ..">    
    
        <button id="button" name="button" class="w-100 btn btn-lg btn-primary">Send</button>
    </div>
    
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                remote
                <video id="rVideo" autoplay>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                local
                <video id="lVideo" autoplay>
            </div>    
        </div>
        <span id="displayId"></span>
        <input type="text" id="connId" class="form-control" placeholder="enter a connection id" required>
        <button id="conn_button" class="btn btn-lg btn-success btn-block" type="submit">Connect</button>
        <button id="call_button" class="btn btn-lg btn-danger btn-block" type="submit">Call</button>

    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="/client.js"></script>
</body>
</html>